body {
    background:beige;
  }
  
  main {
    max-width: 610px;
    margin: auto;
  }
  
  h1, h5 {
    text-align: center;
    color: rgb(70, 70, 44);
    font-family: "Indie Flower", cursive;
  }
  
  .win {
    color: white;
    background-color: rgb(154, 207, 154);
  }
  
  .loss {
    color: white;
    background-color: rgb(80, 20, 20);
  }
  
  #word {
    letter-spacing: 10px;
    text-align: center;
    font-size: 24pt;
    color: rgb(82, 82, 38);
    font-weight: bold;
    font-family: "Sour Gummy", sans-serif;
  }
  
  #guesses {
    text-align: center;
    font-size: 16pt;
    color: rgb(82, 82, 38);
    font-weight: bold;
    font-family:  "Sour Gummy", sans-serif;
  }
  
  .guess {
    padding: 10px;
    display: inline-block;
    border: 2px solid rgb(82, 82, 38);
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
  }
  
  @media only screen and (min-device-width: 375px ) and (max-device-width: 667px) {
      #guesses {
      text-align: center;
      font-size: 24pt;
      color: rgb(82, 82, 38);
      font-weight: bold;
      font-family:  "Sour Gummy", sans-serif;
    }
  
    .guess {
      padding: 30px;
      display: inline-block;
      border: 2px solid rgb(82, 82, 38);
      border-radius: 10px;
      margin: 10px;
      cursor: pointer;
      
    }
  }
  
  #guessBox {
      height: 60px;
      border-radius: 20px;
      padding-top: 5px;
      font-size: 18pt;
      width: 200px;
      padding-left: 10px;
  }
  
  /* Buttons */
  .button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #9e3737;
    background-color: rgb(228, 228, 194);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    font-family:  "Sour Gummy", sans-serif;
  }
  
  .button:hover {background-color: rgb(226, 129, 17)}
  
  .button:active {
    background-color: rgb(107, 107, 61);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }